body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color: #1c5962;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-content {
    text-align: center;
  }
  